{% extends 'base.html' %}


{% block title %}

  Reports

{% endblock %}


{% block subtitle %}


  {% for genre in genre_all %}
    <a href="{% url 'genre_detail_reports_url' slug=genre.slug %}">{{ genre.name }}</a>
  {% endfor %}


    <div class="">
      <a href="{% url 'obrazovanie_url' %}">Смотреть</a>


      <a href="{% url 'all_reports_url' %}">Читать</a>
    </div>


{% endblock %}


{% block content %}

<div class="res-search">
  {% csrf_token %}
  <input id="search_report" type="searh" class="search-food" name="search-food" placeholder="Поиск">
</div>


<div class="header-res">
  <nav>
    <ul id="search_results">

    </ul>
  </nav>
</div>



  {% for report in reports %}

  <a style="text-decoration:none; color:inherit;" href="{% url 'report_detail_url' id=report.id %}">
    <div class="">
      <h5>{{ report.title }}</h5>
      {{ report.author }}


      <div class="aza">
        {{ report.wrote_date }}
      </div>


      <div class="nurs">
        {{ report.body|truncatechars:240 }}
      </div>
    </div>
  </a>








  {% endfor %}



{% endblock %}
