{% extends 'base.html' %}


{% block title %}

  Reports

{% endblock %}


{% block subtitle %}

<div class="item-genre">
  <div class="item-type">
    {% with url_name=request.resolver_match.url_name %}
      <a class="active" style="text-decoration:none;" href="{% url 'obrazovanie_url' %}">Смотреть</a>
      <a class="{% if url_name == 'all_reports_url' %}active{% endif %}" style="text-decoration: none;" href="{% url 'all_reports_url' %}">Читать</a>
    {% endwith %}
  </div>
    {% for genre in genre_all %}
      <a style="text-decoration:none;" href="{% url 'genre_detail_reports_url' slug=genre.slug %}">{{ genre.name }}</a>
      {% endfor %}
</div>


  <!-- {% for genre in genre_all %}
    <a href="{% url 'genre_detail_reports_url' slug=genre.slug %}">{{ genre.name }}</a>
  {% endfor %}


    <div class="two_but">
      <a class="di" href="{% url 'obrazovanie_url' %}">Смотреть</a>


      <a href="{% url 'all_reports_url' %}">Читать</a>
    </div> -->

{% endblock %}


{% block content %}

<!-- Мен, Нурсат уакытша комменттеп койдым поиск болмайтын болды -->

<!-- <div class="res-search">
  {% csrf_token %}
  <input id="search_report" type="searh" class="search-food" name="search-food" placeholder="Поиск">
</div>


<div class="header-res">
  <nav>
    <ul id="search_results">

    </ul>
  </nav>
</div> -->


<!-- контейнер ашайын деп едим -->

<div class="container-report">

  {% for report in reports %}


    <div class="report">
         <div class="report-detail">
           <a style="text-decoration: none;" href="{% url 'report_detail_url' id=report.id %}">
           <div class="report-image" style="background:url('{{report.image.url}}')">

           </div>
            <div class="report-title">
                {{ report.title }}
            </div>
            </a>
            <div class="report-author">
              <a style="text-decoration:none; color:;" href="{% url 'someone_profile_url' id=report.author.id %}">by: @{{ report.author }}</a>
            </div>

         </div>



    </div>



  {% endfor %}


</div>
{% endblock %}
