
<div class="container-fluid mt-2">
  <div class="form-group row">
    <form method="post" class="com-form">
      {% csrf_token %}
        <div class="com-form">
          <div class="com-form-text">
            {{ comment_form.as_p }}
          </div>
          <div class="com-form-input">
            {% if request.user.is_authenticated %}
              <input type="submit" value="ОСТАВИТЬ КОММЕНТАРИЙ" class="btn btn-outline-success">
            {% else %}
              <input type="submit" value="ОСТАВИТЬ КОММЕНТАРИЙ" class="btn btn-outline-success" disabled>
            {% endif %}
          </div>

        </div>
    </form>
  </div>
</div>

<a style="text-decoration:none;" href="#" class="comment-btn"">

  {{ comments.count }} <i class="fa fa-comment"></i>Комментарий
  <!-- {{ comments|pluralize }} -->
</a>



{% for comment in comments %}

<div class="comment_form" id="comment_form" style="display:none">
  <blockquote class="blockquote">
    <p class="mb-0"><small>{{ comment.content }}</small></p>
    <footer class="blockquote-footer"><small>by {{ comment.user|capfirst }}| {{ comment.timestamp|timesince }} ago</small>
      <a class="comment-reply-btn" href=""><button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm">Reply</button></a>
      {% if user == comment.user %}
      <a href="{% url 'comment_delete_url' id=comment.id %}">Delete</a>
      {% endif %}
    </footer>

    <div id="comment-reply" class="container mt-4" style="display:none;">
      {% for reply in comment.replies.all %}
      <blockquote class="blockquote">
        <p class="mb-0"><small>{{ reply.content }}</small></p>
        <footer class="blockquote-footer"><small>| by {{ reply.user|capfirst }} | {{ reply.timestamp|timesince }} ago</small></footer>
      </blockquote>
      {% endfor %}
      <div class="comment-reply">
        <form method="post" class="reply-form">
          {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ comment.id }}">

          {{ comment_form.as_p }}
          {% if request.user.is_authenticated %}

            <input type="submit" value="Submit" class="btn btn-outline-success">
          {% else %}
            <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
          {% endif %}
        </form>
      </div>
    </div>

  </blockquote>
</div>

{% endfor %}
