{% extends 'base.html' %}


{% block title %}

  Reports

{% endblock %}


{% block subtitle %}


<div class="item-genre">
  <div class="item-type">
    {% with url_name=request.resolver_match.url_name %}
      <a class="active" style="text-decoration:none;" href="{% url 'obrazovanie_url' %}">Смотреть</a>
      <a class="{% if url_name == 'all_reports_url' %}active{% endif %}" style="text-decoration: none;" href="{% url 'all_reports_url' %}">Читать</a>
    {% endwith %}
  </div>
    {% for genre in genre_all %}
      <a style="text-decoration:none;" href="{% url 'genre_detail_reports_url' slug=genre.slug %}">{{ genre.name }}</a>
      {% endfor %}
</div>

{% endblock %}


{% block content %}

  {% for genre in genre %}

    {% for report in genre.report_set.all %}




    <div class="report">
         <div class="report-detail">
           <a style="text-decoration: none;" href="{% url 'report_detail_url' id=report.id %}">
           <div class="report-image" style="background:url('{{report.image.url}}')">

           </div>
            <div class="report-title">
                {{ report.title }}
            </div>
            </a>
            <div class="report-author">
              <a style="text-decoration:none; color:;" href="#">by: @{{ report.author }}</a>
            </div>

         </div>



    </div>


    {% endfor %}

  {% endfor %}

{% endblock %}
