{% extends 'base.html' %}


{% block title %}

Образование


{% endblock %}


{% block subtitle %}

<!-- {% for genre in genre_all %}

  <a href="{% url 'genre_detail_url' slug=genre.slug %}">{{ genre.name }}</a>

{% endfor %}

  <div class="">
    <a href="{% url 'obrazovanie_url' %}">Смотреть</a>

    <a href="{% url 'obrazovanie_url' %}">Читать</a>
  </div> -->


  <div class="item-genre">
    <div class="item-type">
        <li class="active">
          <a style="text-decoration:none" id="item_ds" href="{% url 'obrazovanie_url' %}">Смотреть </a>
        </li>
        <li>
          <a style="text-decoration:none" class="nav_genre" id="active_nav" id="item_ds" href="{% url 'all_reports_url' %}">Читать</a>
        </li>

    </div>
    <div class="item-genres">

      {% for genre in genre_all %}
      <li>
        <a style="text-decoration:none" id="item_ds" href="{% url 'genre_detail_url' slug=genre.slug %}">{{ genre.name }}</a>
      </li>
        {% endfor %}
    </div>
  </div>


{% endblock %}


{% block content %}

 {% for genre in genre %}
 <div class="item-obr" style="margin-top:102px;">

    {% for item in genre.item_set.all %}

    <div class="item">
      <a href="{% url 'item_detail_url' id=item.id %}" id="item_ds">
        <div class="item-detail" style="background:url('{{item.image.url}}')">
          <div class="item-name">
            <div class="item-topic">
              {{ item.name }}
            </div>
            <div class="item-body">
                #{{ item.number_of_item }}|
                Тема: {{ item.genre }}
                {{ item.guest }}
            </div>
          </div>
        </div>
      </a>
    </div>

    {% endfor %}
</div>
  {% endfor %}




{% endblock %}
