{% extends 'base.html' %}


{% block title %}

Образование


{% endblock %}


{% block subtitle %}


<div class="item-genre">
  <div class="item-type">
    {% with url_name=request.resolver_match.url_name %}
      <a style="text-decoration:none" class="active" id="item_ds" href="{% url 'obrazovanie_url' %}">Смотреть </a>
      <li class="active">
        <a style="text-decoration:none" class="{% if url_name == 'all_reports_url' %}active{% endif %}" id="item_ds" href="{% url 'all_reports_url' %}">Читать</a>

      </li>
    {% endwith %}
  </div>
  <div class="item-genres">

    {% for genre in genre_all %}
      <li >
        <a style="text-decoration:none" class="menu" sid="item_ds" href="{% url 'genre_detail_reports_url' slug=genre.slug %}">{{ genre.name }}</a>
      </li>

      {% endfor %}

  </div>

</div>

{% endblock %}


{% block content %}

  {% for genre in genre %}

  <div class="container-report">


  <div class="report">

    {% for report in genre.report_set.all %}




    <div class="report-detail">
      <a id="item_ds" href="{% url 'report_detail_url' id=report.id %}">
      <div class="report-image" style="background:url('{{report.image.url}}')">

      </div>
       <div class="report-title">
           {{ report.title }}
       </div>
       </a>
       <div class="report-author">
         <a id="item_ds" color:;" href="{% url 'someone_profile_url' id=report.author.id %}">by: @{{ report.author }}</a>
       </div>
    </div>



    {% endfor %}

  </div>
  </div>


  {% endfor %}

{% endblock %}
