{% if request.user.is_authenticated %}
<form action="{% url 'likes_url' %}" method="post">
  {% csrf_token %}
    <div class="like-section">
      <div class="">
        <p class="like-count">{{ report.likes.count }}</p>
      </div>

      <div class="like-body">
        {% if is_liked %}
          <button type="submit" id="like" name="report_id" value="{{report.id}}" class="btn-like"><i id="like-rep" class="fa fa-heart">Нравится</i></button>
        {% else %}
          <button style="outline:0;" type="submit" id='like' name="report_id" value="{{report.id}}" class="btn-like2"><i class="fa fa-heart">Нравится</i></button>
        {% endif %}
      </div>
    </div>
</form>
{% else %}
  <button type="" name="post_id" value="{{report.id}}">Like</button>
    {{ report.likes.count }}
{% endif %}
