{% extends 'base.html' %}


{% block title %}

Образование


{% endblock %}

{% block subtitle %}
  <div class="item-genre">
      <div class="item-type">
          <li class="active">
            <a style="text-decoration:none" href="{% url 'obrazovanie_url' %}">Смотреть </a>
          </li>
          <li>
            <a class="nav_genre" id="active_nav" style="text-decoration: none;" href="{% url 'all_reports_url' %}">Читать</a>
          </li>

      </div>
      <div class="item-genres">

        {% for genre in genre %}
        <li>
          <a style="text-decoration:none" href="{% url 'genre_detail_url' slug=genre.slug %}">{{ genre.name }}</a>
        </li>
          {% endfor %}
      </div>


  </div>
{% endblock %}



{% block content %}

    <!-- <div class="res-search">
      {% csrf_token %}
      <input id="search" type="searh" class="search-food" name="search-food" placeholder="Поиск">
    </div>


    <div class="header-res">
      <nav>
        <ul id="search_results">

        </ul>
      </nav>
    </div> -->


<div class="container-obr">
 {% for type in type %}
  <h3 class="type-name-obr">{{ type.name }}</h3>
    <div class="item-obr">
      {% for item in type.item_set.all %}
        <div class="item">
          <a href="{% url 'item_detail_url' id=item.id %}" style="text-decoration:none" class="item_ds">
            <div class="item-detail" style="background:url('{{item.image.url}}')">
              <div class="item-name">
                <div class="item-topic">
                  {{ item.name }}
                </div>
                <div class="item-body">
                    #{{ item.number_of_item }}|
                    Тема: {{ item.genre }}
                    {{ item.guest }}
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>



{% endblock %}
