{% extends 'base.html' %}


{% block title %}

  Obrazovanie

{% endblock %}

{% block subtitle %}


  {% for genre in genre %}
    <a href="{% url 'genre_detail_url' slug=genre.slug %}">{{ genre.name }}</a>
  {% endfor %}

  <a href="{% url 'obrazovanie_url' %}"><h2>Все темы</h2></a>

  <a href="{% url 'obrazovanie_url' %}">Смотреть</a>


  <a href="{% url 'obrazovanie_url' %}">Читать</a>

{% endblock %}



{% block content %}


  {% for type in type %}


    <h3>{{ type.name }}</h3>

    {% for item in type.item_set.all %}

      <div class="">

      {{ item.name }}
      <div class="">
        {{ item.number_of_item }}
      </div>

      <div class="">
        {{ item.guest }}
      </div>

      <div class="">
        {{ item.genre }}
      </div>

      <div class="">
        <a href="{% url 'item_detail_url' id=item.id %}">
          <img style="width: 190px; height: 150px;" src="{{ item.image.url }}" alt="">
        </a>
      </div>
    </div>

    {% endfor %}

  {% endfor %}



{% endblock %}
