{% extends 'base.html' %}


{% block title %}

  Obrazovanie

{% endblock %}

{% block subtitle %}


  {% for genre in genre %}
    <a href="{% url 'genre_detail_url' slug=genre.slug %}">{{ genre.name }}</a>
  {% endfor %}

  <div class="">
    <a href="{% url 'obrazovanie_url' %}">Смотреть</a>


    <a href="{% url 'all_reports_url' %}">Читать</a>
  </div>



{% endblock %}



{% block content %}

    <!-- <div class="res-search">
      {% csrf_token %}
      <input id="search" type="searh" class="search-food" name="search-food" placeholder="Поиск">
    </div>


    <div class="header-res">
      <nav>
        <ul id="search_results">

        </ul>
      </nav>
    </div> -->



  {% for type in type %}


    <h3>{{ type.name }}</h3>

    {% for item in type.item_set.all %}

      <div class="">

      {{ item.name }}
      <div class="">
        {{ item.number_of_item }}
      </div>

      <div class="">
        {{ item.guest }}
      </div>

      <div class="">
        {{ item.genre }}
      </div>
      <a href="{{item.clip}}">
        <div class="">
          <img style="width: 190px; height: 150px;" src="{{ item.image.url }}" alt="">
        </div>
      </a>

    </div>

    {% endfor %}

  {% endfor %}



{% endblock %}
