{% extends 'base.html' %}


{% block title %}

Образование


{% endblock %}


{% block subtitle %}


  <div class="item-genre">
    <div class="item-type">
      {% with url_name=request.resolver_match.url_name %}
        <a class="active" style="text-decoration:none" id="item_ds" href="{% url 'obrazovanie_url' %}">Смотреть </a>
        <a class="{% if url_name == 'all_reports_url' %}active{% endif %}" id="item_ds" href="{% url 'all_reports_url' %}">Читать</a>
      {% endwith %}
    </div>
    <div class="item-genres">

      {% for genre in genre_all %}
        <a style="text-decoration:none" class="item_ds" href="{% url 'genre_detail_reports_url' slug=genre.slug %}">{{ genre.name }}</a>
        {% endfor %}
    </div>

  </div>



{% endblock %}


{% block content %}

  <div class="container-rep-detail">

      <div class="rep-detail content">

        <div class="rep-author-date">
          <div class="rep-author-img">
            <img src="{{report.author.profile.images.url}}" alt="">
          </div>
          <div class="rep-author">
            <a style="text-decoration:none" class="item_ds" href="{% url 'someone_profile_url' id=report.author.id %}">
              @{{ report.author }}
            </a>
          </div>
            <div class="rep-date">
              {{ report.wrote_date|timesince }} ago
            </div>
        </div>

        <div class="rep-title">
          <h5>{{ report.title }}</h5>
        </div>



        <div class="rep-body">
          <textarea id="com-area" class="rep-textarea" name="name" rows="19" cols="90">{{ report.body }}</textarea>

          <div id="like-section">
          {% include 'obrazovanie/like_section.html' %}
          </div>
          <div class="main-comment-section">
          {% include 'obrazovanie/comments.html' %}
          </div>
        </div>
      </div>

      <div class="rep-rec content">
        <h5 class="reccomend_table">Рекомендуем</h5>
        {% for popular_post in popular_post %}
          <div class="reccomend" >
            <div class="rec">
              <a style="text-decoration:none" href="{% url 'report_detail_url' id=popular_post.id %}" class="item_ds">
                {{ popular_post }}
              </a>
            </div>
              <i id="like-rep" class="fa fa-heart">
                {{ popular_post.likes.count }}
              </i>
              <i id="like-rep" class="fa fa-comment">
                {{popular_post.comment_set.count}}

              </i>
              <!-- {% for comment in popular_post.comment_set.all %}
              <div class="" style="color:white;">
                {{comment.user.count}}

              </div>
              {% endfor %} -->

          </div>


        {% endfor %}
      </div>




  </div>



{% endblock %}
