{% extends 'base.html' %}


{% block title %}

  Reports

{% endblock %}


{% block subtitle %}


  <!-- {% for genre in genre_all %}
    <a href="{% url 'genre_detail_reports_url' slug=genre.slug %}">{{ genre.name }}</a>
  {% endfor %}

  <a href="{% url 'obrazovanie_url' %}"><h2>Все темы</h2></a>

  <a href="{% url 'obrazovanie_url' %}">Смотреть</a>


  <a href="{% url 'all_reports_url' %}">Читать</a> -->

{% endblock %}


{% block content %}

  <a href="{% url 'all_reports_url' %}">Back</a>




    <h5>{{ report.title }}</h5>
    {{ report.author }}
    <div class="">
      {{ report.wrote_date }}
    </div>


    <div class="">
      {{ report.body }}
    </div>
    {% if request.user.is_authenticated %}

    <form action="{% url 'likes_url' %}" method="post">
        {% csrf_token %}

          <button type="submit" name="post_id" value="{{report.id}}">Like</button>

        {{ report.likes.count }}
    </form>

    {% else %}

    <button type="" name="post_id" value="{{report.id}}">Like</button>
      {{ report.likes.count }}

    {% endif %}







  <div class="">
    <div class="container-fluid mt-2">
      <div class="form-group row">
        <form method="post">
          {% csrf_token %}
          {{ comment_form.as_p }}
          {% if request.user.is_authenticated %}
            <input type="submit" value="Submit" class="btn btn-outline-success">
          {% else %}
            <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
          {% endif %}
        </form>
      </div>
    </div>


    {{ comments.count }} Comment{{ comments|pluralize }}
    {% for comment in comments %}

    <blockquote class="blockquote">
      <p class="mb-0"><small>{{ comment.content }}</small></p>
      <footer class="blockquote-footer"><small>by <cite title="Source Title">{{ comment.user|capfirst }} {{ comment.timestamp|timesince }} ago</cite></small>
        <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm">Reply</button>
      </footer>
    </blockquote>


    <div class="container mt-4">
      {% for reply in comment.replies.all %}
      <blockquote class="blockquote">
        <p class="mb-0"><small>{{ reply.content }}</small></p>
        <footer class="blockquote-footer"><small> by <cite title="Source Title">{{ reply.user|capfirst }} {{ reply.timestamp|timesince }} ago</cite></small></footer>
      </blockquote>
      {% endfor %}
      <div class="form-group row">
        <form method="post">
          {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
          {{ comment_form.as_p }}
          {% if request.user.is_authenticated %}
            <input type="submit" value="Submit" class="btn btn-outline-success">
          {% else %}
            <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
          {% endif %}
        </form>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
