{% extends 'base.html' %}


{% block title %}

  Reports

{% endblock %}


{% block subtitle %}


  <!-- {% for genre in genre_all %}
    <a href="{% url 'genre_detail_reports_url' slug=genre.slug %}">{{ genre.name }}</a>
  {% endfor %}

  <a href="{% url 'obrazovanie_url' %}"><h2>Все темы</h2></a>

  <a href="{% url 'obrazovanie_url' %}">Смотреть</a>


  <a href="{% url 'all_reports_url' %}">Читать</a> -->

{% endblock %}


{% block content %}
  <div class="container-rep-detail">
    <div class="rep-detail">

      <div class="rep-author-date">
        <div class="rep-author-img">
          <img src="{{report.author.profile.image.url}}" alt="">
        </div>
        <div class="rep-author">
          <a style="text-decoration:none;" href="{% url 'someone_profile_url' id=report.author.id %}">
            @{{ report.author }}
          </a>
        </div>
          <div class="rep-date">
            {{ report.wrote_date }}
          </div>
      </div>

      <div class="rep-title">
        <h5>{{ report.title }}</h5>
      </div>



      <div class="rep-body">
        <!-- <textarea name="name" rows="19" cols="90"></textarea> -->
{{ report.body }}
        <div id="like-section">
        {% include 'obrazovanie/like_section.html' %}
        </div>
        <div class="main-comment-section">
        {% include 'obrazovanie/comments.html' %}
        </div>
      </div>






    </div>

    <div class="rep-rec">

    </div>


  </div>



{% endblock %}
