


{% if item.count > 0 %}

  {% for item in item %}
  <div>
    <li>
      <a href="{% url 'item_detail_url' id=item.id %}">{{ item.name }}</a>

      <div>
        {{ item.number_of_item }}
      </div>

      <div class="">
        {{ item.guest }}
      </div>

      <div class="">
        {{ item.genre }}
      </div>

      <div class="">
        <a href="{% url 'item_detail_url' id=item.id %}">
          <img style="width: 190px; height: 150px;" src="{{ item.image.url }}" alt="">
        </a>
      </div>
      </li>
    </div>
  {% endfor %}

  {% endif %}
