.write_post {
  margin-left: 80%;
  text-align: center;
  /* border: 1px solid black; */
  width: 15%;

}

.my_fav_posts{
  border: 1px solid black;
}

.block{
    border-radius: 15px; 
    border: 5px solid red;
    padding: 6px 6px 10px 6px;
}

.nurs{
    border: 3px solid blue;
    
}

