.write_post {
  margin-left: 81%;
  text-align: center;
  /* border: 1px solid black; */
  width: 15%;

}

.my_fav_posts{
  /* border: 1px solid black; */
  margin-left: 82.3%;
  width: 15%;
  text-align: center;
}
