


body{
  background-color: black!important;
}

.container-obr{
  /* background-color: black; */
  /* border: 1px solid blue; */


}

.item-obr{
  /* border: 1px solid red; */
  display: flex;
  /* grid-template-columns: auto auto; */
  justify-content: center;
  flex-wrap: wrap;
}

.item{
  /* border: 1px solid blue; */
  width: 630px;
  /* margin: 0 auto; */


}

.item-detail{
  /* border: 1px solid green; */
  width: 580px;
  /* margin-left: 90px; */
  margin: 0 auto;
  height: 290px;
  background-size: cover!important;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-top: 20px;


}

.item-name{
  margin-top: 10px;
  color: white;
  /* margin-left: 40px; */

}

.type-name-obr{
  color: white;
  margin-top: 29px;
}
.item-topic{
  font-size: 25px;
  margin-left: 20px;
  padding-top: 90px;

}

.item-body{
  display: flex;
  margin-left: 20px;

}

.item-genre {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  border: 1px solid dimgrey;
  /* background-color: black; */
}
.item-type {
  /* border: 1px solid white; */
  text-decoration: none;
  width: 190px;

}

.item-type a{
  margin-left: 20px;
}

.item-genre a{
  color: dimgrey;

}


.item-genre a:hover{
  color: orange;

}


#navbarSupportedContent a{
  color: white;
}

#logo {
  color: white;
  font-family: sans-serif;
}
#logo::first-letter{
  color: orange;
}

#main-nav{
  height: 90px;
}

.container-report{
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 950px;
  margin: 0 auto;
  margin-top: 90px;

}

.report{
  /* border: 1px solid white; */
  height: 390px;
}

.report-detail{
  /* border: 1px solid white; */
  height: 330px;
  margin-top: 40px;

}

.report-image{
  /* border: 1px solid white; */
  height: 270px;
  background-size: cover!important;
  width: 250px;
  margin: 0 auto;
}

.report-title{
  /* border: 1px solid white; */
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.report-author{
  text-align: center;

}

footer{
  margin-top: 200px;
  height: 220px;
  background-color: #19191A;
  align-items: center;
  padding-top: 25px;

}
.container-footer{
  display: flex;
  /* border: 1px solid white; */
  height: 180px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  /* text-align: center; */
  color: #3D3D40;
  margin-top: 15px;
}
.Main{
  /* border: 1px solid white; */
  width: 200px;
}
.Dobro{
  /* border: 1px solid white; */
  width: 200px;
}
.Obrazovanie{
  /* border: 1px solid white; */
  width: 200px;
}
.Other{
  /* border: 1px solid white; */
  width: 200px;
}
.Contacts{
  /* border: 1px solid white; */
  width: 200px;
}
.Social-Media{
  /* border: 1px solid white; */
  width: 200px;
}
.about-us{
  /* border: 1px solid white; */
  margin-top: 40px;

}

.base-container{
  /* border: 1px solid white; */
  margin-top: 180px;
  height: 320px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 190px;
}

.intro{
  display: flex;
  justify-content: space-around;

}

.intro-obr h5:hover{
  color: orange;
}

.container-profile{
  /* border: 1px solid white; */
  width: 1200px;
  margin: 0 auto;
  height: 700px;
  padding-top: 100px;

}

.profile-img img{
  /* border: 1px solid white; */
  width: 150px;
  height: 150px;
  border-radius: 30px;
}

.profile-username{
  /* border: 1px solid white; */
  height: 40px;
  color: white;
  font-size: 30px;
  width: 350px;
  display: flex;
}
.sub-container{
  display: flex;
  /* border: 1px solid white; */
}

.my_posts{
  /* border: 1px solid white; */
  width: 400px;
}
.report-name{
  /* border: 1px solid white; */
  width: 350px;
  color: white;
}
.report-name:hover{
  color: orange;
}
.write_post{
  /* border: 1px solid white; */

}
.btn-change{
  /* border: 1px solid white; */
  width: 200px;
  padding-top: 8px;
}
.profile-logout a{
  /* border: 1px solid white; */
  color: white;
}

.write_post{
  /* border: 1px solid white; */
  width: 150px;
  padding-top: 8px;

}
.write_post a{
  color: white;
}
.write_post a:hover{
  color: orange;
}
.my_posts h2{
  font-size: 30px;
  color: white;
}
