


.write_post {
  margin-left: 80%;
  text-align: center;
  /* border: 1px solid black; */
  width: 15%;

}


/* container */
.container{
	max-width: 1100px;
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.my_fav_posts{

}

.mr{
	margin-right: 12px;
	margin-top: 10px;
}

.ml{
	margin-left: 12px;
}

.block{
	width: 308px;
	height: 170px;

    border-radius: 15px;
    border: 1px solid #2b2b2b;
    background-color: #2b2b2b;

    padding: 6px 6px 10px 6px;

    color: white;
}

.container-obr{
  background-color: black;
  border: 1px solid blue;


}

.item-obr{
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: auto auto;

}

.item{
  /* border: 1px solid blue; */
  margin: 0 auto;


}

.item-detail{
  border: 1px solid green;
  width: 480px;
  height: 290px;
  background-size: cover!important;
  background-repeat: no-repeat;
  border-radius: 20px;


}

.item-name{
  margin-top: 20px;
  color: white;


}

.type-name-obr{
  color: white;
  margin-top: 29px;
}
.item-topic{
  font-size: 25px;
  margin-left: 20px;
  padding-top: 90px;

}

.item-body{
  display: flex;
  margin-left: 20px;

}

.item-genre {
  display: flex;
}
.item-type {
  text-decoration: none;
}
