


.write_post {
  margin-left: 80%;
  text-align: center;
  /* border: 1px solid black; */
  width: 15%;

}




body{
  background-color: black!important;
}

.container-obr{
  /* background-color: black; */
  /* border: 1px solid blue; */


}

.item-obr{
  /* border: 1px solid red; */
  display: flex;
  /* grid-template-columns: auto auto; */
  justify-content: center;
  flex-wrap: wrap;
}

.item{
  /* border: 1px solid blue; */
  width: 630px;
  /* margin: 0 auto; */


}

.item-detail{
  /* border: 1px solid green; */
  width: 580px;
  /* margin-left: 90px; */
  margin: 0 auto;
  height: 290px;
  background-size: cover!important;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-top: 20px;


}

.item-name{
  margin-top: 10px;
  color: white;
  /* margin-left: 40px; */

}

.type-name-obr{
  color: white;
  margin-top: 29px;
}
.item-topic{
  font-size: 25px;
  margin-left: 20px;
  padding-top: 90px;

}

.item-body{
  display: flex;
  margin-left: 20px;

}

.item-genre {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  border: 1px solid dimgrey;
  /* background-color: black; */
}
.item-type {
  /* border: 1px solid white; */
  text-decoration: none;
  width: 190px;

}

.item-type a{
  margin-left: 20px;
}

.item-genre a{
  color: dimgrey;

}


.item-genre a:hover{
  color: orange;

}


#navbarSupportedContent a{
  color: white;
}

#logo {
  color: white;
}
#logo::first-letter{
  color: orange;
}

#main-nav{
  height: 90px;
}

.container-report{
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 950px;
  margin: 0 auto;

}

.report{
  border: 1px solid white;
  height: 390px;
}

.report-detail{
  border: 1px solid white;
  height: 330px;
  margin-top: 40px;

}

.report-image{
  border: 1px solid white;
  height: 270px;
  background-size: cover!important;
  width: 250px;
  margin: 0 auto;
}

/* .report-title{
  border: 1px solid white;
  width: 300px;
  margin: 0 auto;
} */
