{% extends 'base.html' %}


{% block title %}

	Profile

{% endblock %}


{% block content %}
<div class="container-profile">
	<div class="profile-img">
 	 <img src="{{ user.profile.image.url }}">
  </div>
 <div class="sub-container">
	 <div class="profile-username">
	  @{{ user.username }}

	  <!-- {{ user.email }}
	  {{ user.city }} -->
	 </div>

	 <div class="btn-change">
		 <button onclick="show_hide()">Изменить</button>
		 <div style="display:none;" id="profile_update">
			 <form class="" action="{% url 'profile_url' %}" method="post" enctype="multipart/form-data">
				 {% csrf_token %}
				 {{u_form}}

				 <div>
					 Change avatar:{{p_form.image}}
				 </div>

				<div>
				 City: {{p_form.city}}
				</div>

			<div>
				 Phone Number: {{p_form.phone}}
				</div>

				<div>
				 Age: {{p_form.age}}
				</div>



				 <button type="submit" name="button">Update</button>
			 </form>
		 </div>
	 </div>





	 <div class="write_post">
  	 <a style="text-decoration:none;" href="{% url 'report_create_url' %}">Napisat' post</a>
   </div>


	 <div class="my_posts">
		 <h2>Статьи</h2>
		 {% for report in user.report_set.all %}

			 <a style="text-decoration:none;" href="{% url 'report_detail_url' id=report.id %}">
				 <div class="report-name">
					 {{ report.title }}
				 </div>
			 </a>


		 {% endfor %}

	 </div>





   <div class="profile-logout">
  	 <a style="text-decoration:none;" href="{% url 'logout_url' %}">Выйти</a>
   </div>
 </div>














</div>


{% endblock %}
