{% extends 'base.html' %}


{% block title %}

	Profile

{% endblock %}


{% block content %}


<div class="someone-profile">
	<div class="someone-profile-container">
		<div class="someone-profile-img">
				<img src="{{ profile.profile.image.url }}">
				<div class="som-prof-info">
					<!-- {{ profile.email }} -->
					<div class="my_posts">
						<h2>Статьи @{{ profile.username }}</h2>
						{% for report in profile.report_set.all %}
							<a id="someone-post" style="text-decoration:none;" href="{% url 'report_detail_url' id=report.id %}">
								<div class="">
									{{ report.title }}
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
		</div>
	</div>
</div>


{% endblock %}
