{% extends 'base.html' %}



{% block title %}
	Main
{% endblock %}


{% block content %}
<div class="base-container">
	<h1 id="logo" class="animate__animated animate__fadeInDown">GARYSHKER.</h1>
	<div class="intro flex-direction">
		<div class="intro-obr1">
			<span>
				<a style="text-decoration:none; color:white;" class="text-decoration:none;" href="{% url 'charity_url' %}"><h5 class="animate__animated animate__fadeInUp">Добро</h5></a>

			</span>
		</div>


		<div class="intro-obr2">
			<span>
				<a style="text-decoration:none; color:white;" href="{% url 'obrazovanie_url' %}"><h5 class="animate__animated animate__fadeInUp">Образование</h5></a>

			</span>
		</div>
	</div>

</div>

<div class="base-footer">
	
</div>


{% endblock %}
